
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* -------------- Contenido ------------------------ */

.content {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-size: contain;
    
}

.asideTitles {
    display: flex;
    width: 80%;
    flex-direction: column;
    padding: 3rem 9rem;
    
}

/* -------------- Titles------------------------ */

.title  {
    margin-bottom: 5rem;
}
.mainInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
}
.mainInfo h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 15px;
}  
.mainInfo h1 span {
    font-weight: 300;
    color:hsl(0, 36%, 70%);
}

.mainInfo p {
    font-size: 16px;
    line-height: 2rem;
    color:hsl(0, 36%, 70%);
}


/* -------------- Form ------------------------ */

.inputMail {
    display: relative;
    margin-top: 1rem;
    width: 60%;

}
.inputMail form {
    display:block;
    position: relative;
}
.inputMail form input {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 40px;
    border: 1px solid rgb(210, 210, 210);
    outline: none;
    opacity: 0.9;
}
.inputMail form button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    padding: 0.9rem;
    width: 110px;
    border-radius: 2rem;
    background: rgb(248,191,191);
    background: linear-gradient(135deg, #f8bfbf 0%, #ee8c8c 100%); 
    transition: background-color ease 0.3s;
    cursor: pointer;
    box-shadow: -1px 12px 15px -2px rgba(238, 112, 112, 0.75);
    -moz-box-shadow: -1px 12px 0.7rem -2px rgba(238, 112, 112, 0.75);
}
.inputMail form button:hover {
    background: linear-gradient(135deg, #f29f9f 0%, #ff67c5 100%); 
}


/* -------------- Imagen ------------------------ */

.Picture {
    display: flex;
    justify-content: end;
   
}

/* -------------- footer ------------------------ */

footer {
    height: 50px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    background-color: rgb(230, 230, 230);
}
footer p {
    font-family: inherit;
    font-size: 0.8rem;
    color: rgb(74, 63, 63);
}
footer a {
    color: black;
    text-decoration: none;
}
footer a:hover {
    color: rgba(13, 37, 54, 0.927);
}

/* ---------------- Responsive -------------------*/

.none {
    display: none;
}

/* ---------------- Responsive -------------------*/

@media screen and (max-width: 768px) {

    body {
        display: flex;
        flex-direction: column;
    }
    .content{
        flex-direction: column-reverse;
        justify-content: center;
        height: auto;
    }

    .title {
        position: absolute;
        top: 35px
    }

    .asideTitles {
        width: 100%;
        padding: 3rem;
        text-align: center;
    }

    .mainInfo h1 {
        font-size: 3rem;
    }
    
    .mainInfo p {
        line-height: 1.5rem;
        font-size: 14px;
    }

    .inputMail {
       width: 100%;
    }

    .Picture {
        width: 100%;
        justify-content: flex-start;
        position: relative;
        margin-top: 7rem;
        margin-bottom: 2rem;
    }

    .Picture img:nth-child(1){
        display: block;
    }
    .Picture img:nth-child(2){
        display: none;
    }

    .Picture img {
        width: 100%;
    }

  
}