
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content {
    display: flex;
    width: 100%;
}

.title  {
    margin-bottom: 5rem;
}

.asideTitles {
    display: flex;
    width: 80%;
    flex-direction: column;
    padding: 3rem 9rem;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-size: cover;
}

.mainInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
}
.mainInfo h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 15px;
}  
.mainInfo h1 span {
    font-weight: 300;
    color:hsl(0, 36%, 70%);
}

.mainInfo p {
    font-size: 16px;
    line-height: 2rem;
    color:hsl(0, 36%, 70%);
}

.mainInfo form div {
    display: flex;
    width: 100%; 
}

.mainInfo form div input {
    width: 70%;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 40px;
    border: 1px solid rgb(210, 210, 210);
    outline: none;
    opacity: 0.9;
}
.mainInfo form button {
    border: none;
    padding: 0.9rem;
    width: 110px;
    border-radius: 2rem;
    background: rgb(248,191,191);
    background: linear-gradient(135deg, #f8bfbf 0%, #ee8c8c 100%); 
    transition: background-color ease 0.3s;
    cursor: pointer;
    box-shadow: -1px 0px 7px -2px rgba(33,33,33,0.75);
    -moz-box-shadow: -1px 0px 0.7rem -2px rgba(33,33,33,0.75);
}
.mainInfo form button:hover {
    background: linear-gradient(135deg, #f29f9f 0%, #ff67c5 100%); 
}

.Picture {
    display: flex;
}

footer {
    height: 50px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    background-color: rgb(230, 230, 230);
}
footer p {
    font-family: inherit;
    font-size: 0.8rem;
    color: rgb(74, 63, 63);
}
footer a {
    color: black;
    text-decoration: none;
}
footer a:hover {
    color: rgba(13, 37, 54, 0.927);
}